<div class="container">
<h2>Please enter the secret key to continue...</h2>
    <%= simple_form_for(@user, :method => :destroy) do |f| %>
        <%= f.input :auth_password, label: 'Secret key' %>
    <% end %>
<div>

<div class="buttons">
    <%= link_to "Delete", user_path(@user), method: :delete, class: "btn-flat" %>
</div>